<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SCF Solutions">
    <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />
    <title>Dashboard | Investors</title>

    <link href="/static/dashboard/css/root.css" rel="stylesheet">
</head>

<body>
    <div class="loading"><img src="/static/dashboard/img/loading.gif" alt="loading-img"></div>
    <div id="top" class="clearfix">
        <div class="applogo">
            <a href="/" class="logo">fintact</a>
        </div>
        <a href="#" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
        <a href="#" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
        <ul class="top-right">
            <li class="dropdown link">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle profilebox"><b>{{name}}</b><span
                        class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-list dropdown-menu-right">
                    <li><a href="/logout"><i class="fa falist fa-power-off"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="sidebar clearfix">

        <ul class="sidebar-panel nav">
            <li class="sidetitle">GO TO</li>
            <li><a href="/capital"><span class="icon color5"><i class="fa fa-usd"></i></span>Invested<span
                        class="label label-default"></span></a></li>
            <li><a href="/capital/market"><span class="icon color6"><i class="fa fa-globe"></i></span>Marketplace<span
                        class="label label-default"></span></a></li>
        </ul>
    </div>
    <div class="content">
        <div class="container-widget">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="panel panel-widget">
                        <div class="panel-title">
                            Invested Projects <span class="label label-info"></span>
                        </div>

                        <div class="panel-search">
                            <form>
                                <input type="text" class="form-control" placeholder="Search...">
                                <i class="fa fa-search icon"></i>
                            </form>
                        </div>


                        <div class="panel-body table-responsive">

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td>ID</td>
                                        <td>Project</td>
                                        <td>Status</td>
                                        <td class="text-right">Progress</td>
                                    </tr>
                                </thead>
                                <!-- <tbody>
                                    <tr>
                                        <td>965</td>
                                        <td>Kode Dashboard Template</td>
                                        <td><span class="label label-default">Developing</span></td>
                                        <td class="text-right"><span class="demo-project-stats"></span></td>
                                    </tr>
                                    <tr>
                                        <td>620</td>
                                        <td>EBI iOS Application</td>
                                        <td><span class="label label-warning">Design</span></td>
                                        <td class="text-right"><span class="demo-project-stats"></span></td>
                                    </tr>
                                    <tr>
                                        <td>621</td>
                                        <td>Kode Landing Page</td>
                                        <td><span class="label label-info">Testing</span></td>
                                        <td class="text-right"><span class="demo-project-stats"></span></td>
                                    </tr>
                                    <tr>
                                        <td>621</td>
                                        <td>John Coffe Shop Logo</td>
                                        <td><span class="label label-danger">Canceled</span></td>
                                        <td class="text-right"><span class="demo-project-stats"></span></td>
                                    </tr>
                                    <tr>
                                        <td>621</td>
                                        <td>BKM Website Design</td>
                                        <td><span class="label label-primary">Reply waiting</span></td>
                                        <td class="text-right"><span class="demo-project-stats"></span></td>
                                    </tr>
                                </tbody> -->
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="visibility: hidden;height:max-content">
                <h2>Test</h2>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="/static/dashboard/js/jquery.min.js"></script>

    <script src="/static/dashboard/js/bootstrap/bootstrap.min.js"></script>

    <script type="text/javascript" src="/static/dashboard/js/plugins.js"></script>

    <script type="text/javascript" src="/static/dashboard/js/bootstrap-select/bootstrap-select.js"></script>

    <script type="text/javascript" src="/static/dashboard/js/bootstrap-toggle/bootstrap-toggle.min.js"></script>

    <script type="text/javascript" src="/static/dashboard/js/bootstrap-wysihtml5/wysihtml5-0.3.0.min.js"></script>
    <script type="text/javascript" src="/static/dashboard/js/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>

    <script src="/static/dashboard/js/sweet-alert/sweet-alert.min.js"></script>

    <script src="/static/dashboard/js/kode-alert/main.js"></script>


    <script type="text/javascript" src="/static/dashboard/js/jquery-ui/jquery-ui.min.js"></script>


    <script type="text/javascript" src="/static/dashboard/js/moment/moment.min.js"></script>

    <script type="text/javascript" src="/static/dashboard/js/full-calendar/fullcalendar.js"></script>

    <script type="text/javascript" src="/static/dashboard/js/date-range-picker/daterangepicker.js"></script>


</body>

</html>