<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SCF Supply Chain</title>

    <meta property="og:title" content="Supply Chain Finance" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/static/landing/images/screen.jpg" />

    <link href="https://fonts.googleapis.com/css?family=Product+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="/static/landing/css/global/bootstrap.min.css">
    <link rel="stylesheet" href="/static/landing/css/global/plugins/icon-font.css">

    <link rel="stylesheet" href="/static/landing/css/style.css">

</head>

<body class="overflow-hidden">
    <header id="home">

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <h3 class="gradient-mask">fintact</h3>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-nav"
                    aria-controls="site-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="site-nav">
                    <ul class="navbar-nav text-sm-left ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#features">Features</a>
                        </li>
                        <li class="nav-item text-center">
                            <a href="/login" class="btn align-middle btn-outline-primary my-2 my-lg-0">Login/Sign Up</a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
        <section class="jumbotron-two">

            <div class="container">

                <div class="row align-items-center">
                    <div class="col-12 col-md-5">
                        <h1 class="display-3">fintact</h1>
                        <h1 class="display-5">We keep the chain intact</h1>
                        <p></p>

                    </div>
                </div>

            </div>

        </section>

        <div class="bg-shape"></div>
        <div class="bg-circle"></div>
        <div class="bg-circle-two"></div>

    </header>

    <div class="section bg-light pt-lg">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="media mb-5">
                        <div class="media-icon d-flex mr-3"> <i class="pe-7s-cloud-upload pe-3x"></i> </div>


                        <div class="media-body">
                            <h5 class="mt-0"><a href='/ce'>Core Enterprises</a></h5> We enable core enterprises to
                            directly reach out to
                            SMEs.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="media mb-5">
                        <div class="media-icon d-flex mr-3"> <i class="pe-7s-like2 pe-3x"></i> </div>

                        <div class="media-body">
                            <h5 class="mt-0"><a href='/sme'>SMEs</a></h5> SMEs can accept contracts and recieve working
                            capital from investors.
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="media mb-5">
                        <div class="media-icon d-flex mr-3"> <i class="pe-7s-piggy pe-3x"></i> </div>

                        <div class="media-body">
                            <h5 class="mt-0"><a href='/capital'>Investors</a></h5>Investors have a bird's eye view of
                            all the orders and get to
                            invest in what they like.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="section" id="features">

        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-8">
                    <div class="browser-window limit-height my-5 mr-0 mr-sm-5">
                        <div class="top-bar">
                            <div class="circles">
                                <div class="circle circle-red"></div>
                                <div class="circle circle-yellow"></div>
                                <div class="circle circle-blue"></div>
                            </div>
                        </div>
                        <div class="content">
                            <img src="/static/img/screenshots/thumbnail_1.png" alt="image">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="media">
                        <div class="media-body">
                            <div class="media-icon mb-3"> <i class="pe-7s-like2 pe-3x"></i> </div>
                            <h3 class="mt-0">UI</h3>
                            <p> Self evident and easy to use UI</p>
                        </div>
                    </div>
                </div>

            </div>



            <div class="row align-items-center mt-5">

                <div class="col-sm-4">
                    <div class="media">
                        <div class="media-body">
                            <div class="media-icon mb-3"> <i class="pe-7s-graph1 pe-3x"></i> </div>
                            <h3 class="mt-0">Data driven</h3>
                            <p>All the stats that you need</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-8">
                    <img src="/static/img/screenshots/thumbnail_7.png" alt="image" class="img-fluid cast-shadow my-5">
                </div>


            </div>

            <div class="row align-items-center">
                <div class="col-sm-8">
                    <div class="browser-window limit-height my-5 mr-0 mr-sm-5">
                        <div class="top-bar">
                            <div class="circles">
                                <div class="circle circle-red"></div>
                                <div class="circle circle-yellow"></div>
                                <div class="circle circle-blue"></div>
                            </div>
                        </div>
                        <div class="content">
                            <img src="/static/img/screenshots/thumbnail_4.png" alt="image">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="media">
                        <div class="media-body">
                            <div class="media-icon mb-3"> <i class="pe-7s-like2 pe-3x"></i> </div>
                            <h3 class="mt-0">Realtime</h3>
                            <p>No delays or hassles</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>

    <div class="section bg-light mt-4" id="footer">
        <div class="container">
            <div class="row">

                <div class=" text-center mt-4"> <small class="text-muted">Copyright ©
                        <script type="text/javascript">
                            document.write(new Date().getFullYear());
                        </script>
                        All rights reserved. <b>Fintact</b>
                    </small></div>
            </div>

        </div>

        <script src="/static/landing/js/global/jquery-3.2.1.min.js"></script>
        <script src="/static/landing/js/global/bootstrap.bundle.min.js"></script>
        <script src="/static/landing/js/script.js"></script>
</body>

</html>